@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}


/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}

#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: none;
    background: #fff;
}

#pulldawn{
    position: absolute;
    right: 0;
    top: 0;
}

li{
  text-align: center;
}

li:hover{
  background-color: #DE563C;
}

li a{
  color: #6C6C6C;
}

li a:hover{
  color: #fff;
}


#menu{
  color: #fff;
}

#menu p{
  display: inline-block;
  width: 70px;
}

#menu::after{
  content: "";
  position: absolute;
  top: 70%;
  right: 50%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu.open::after{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

#menu img{
  border-radius: 50px;
}

.btn{
  display: inline-block;
  max-width: 100%;
  text-align:center;
  background-color: #3C4767;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}

.btn a{
  color: #fff;
}

button{
  border: none;
}

textarea{
  width: 70%;
  resize: none;
  border: solid 1px #fff;
}


#confirm{
  padding-bottom: 10%;
  border-bottom: 0.5px solid black;
}

#user{
  padding-top: 10%;
  text-align: center;
}

/* index */

.btn-create{
  border: 0px;
  width: 60px;
  height: 60px;
  background: url(../images/post.png) no-repeat;
}

.btn-create:hover{
  cursor: pointer;
}

/* search */

.username textarea{
  border: solid 1px #6C6C6C;
  border-radius: 4px;
}

.btn-follow{
  display: inline-block;
  max-width: 100%;
  text-align:center;
  background-color: #7995D7;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}

.btn-delete{
  display: inline-block;
  max-width: 100%;
  text-align:center;
  background-color: #BA5656;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}

/* profile update */

.btn-update{
  display: inline-block;
  max-width: 100%;
  text-align:center;
  background-color: #7B9979;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
